html, body, div {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    /* background: rgb(2,0,36);
    background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%)
    ; */
    background: rgb(2,0,36);
    background: radial-gradient(ellipse, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 70%, rgba(0,212,255,1) 100%);
    height: 100%;
    padding: 0;
    border: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.Outer {
    height: 100%;
    /* padding: 4%; */
    padding: 18px;
    /* background-color: red; */
}

.Inner {
    min-width: 360px;
    height: 100%;
    background-color: rgba(20,20,20,1);
}
